@model Numbers.Entity.Models.BkgCustomer

@{
    ViewData["Title"] = "Booking Customer";
    ViewData["CurrentPage"] = "Customers";
}


<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>@ViewBag.EntityState Booking Customer</h5>

            </div>
            <div class="ibox-content">
                <form class="form-horizontal" asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div>
                        <input type="hidden" asp-for="Id" />
                    </div>
                    <div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CNIC" class="col-lg-4 control-label"></label>

                                <div class="col-lg-8">
                                    <input asp-for="CNIC" autofocus class="form-control" data-mask="99999-9999999-9" onchange="checkCNIC();" data-validation="required" />
                                    <p id="Status" />
                                    <span asp-validation-for="CNIC" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="col-lg-4 control-label"></label>
                                <div class="col-lg-8">
                                    <input asp-for="Name" class="form-control" />

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="FatherName" class="col-lg-4 control-label"></label>
                                <div class="col-lg-8">
                                    <input asp-for="FatherName" class="form-control" data-validation="required" data-validation-error-msg="Father name is required" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Phone" class="col-lg-4 control-label"></label>
                                <div class="col-lg-8">
                                    <input asp-for="Phone" class="form-control" />

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-lg-4 control-label">GL Account</label>

                                <div class="col-lg-8">

                                    <select class="chosen-select" asp-for="AccountId" data-validation="required" data-validation-error-msg="GL Account is required">
                                        <option selected="selected" value="">Select...</option>
                                    </select>
                                    <span asp-validation-for="AccountId" class="text-danger"></span>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Mobile" class="col-lg-4 control-label"></label>
                                <div class="col-lg-8">
                                    <input asp-for="Mobile" class="form-control" />
                                    <span asp-validation-for="Mobile" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="GSTNo" class="col-lg-4 control-label"></label>
                                <div class="col-lg-8">
                                    <input asp-for="GSTNo" class="form-control" />
                                    <span asp-validation-for="GSTNo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="NTNNo" class="col-lg-4 control-label"></label>
                                <div class="col-lg-8">
                                    <input asp-for="NTNNo" class="form-control" />
                                    <span asp-validation-for="NTNNo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Address" class="col-lg-4 control-label"></label>
                                <div class="col-lg-8">
                                    <textarea asp-for="Address" class="form-control"></textarea>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Remarks" class="col-lg-4 control-label"></label>
                                <div class="col-lg-8">
                                    <textarea asp-for="Remarks" class="form-control"></textarea>
                                    <span asp-validation-for="Remarks" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-lg-4">  </div>
                                <div class="col-lg-8">
                                    <div class="checkbox checkbox-success">
                                        <input id="isActive" asp-for="IsActive" type="checkbox">
                                        <label for="isActive">Active</label>
                                    </div>
                                    <div class="checkbox checkbox-success">
                                        <input id="IsBooking" asp-for="IsBooking" type="checkbox">
                                        <label for="IsBooking">Booking</label>
                                    </div>
                                    <div class="checkbox checkbox-success">
                                        <input id="IsCustomer" asp-for="IsCustomer" type="checkbox">
                                        <label for="IsCustomer">Customer</label>
                                    </div>
                                    <div class="checkbox checkbox-success">
                                        <input id="IsSupplier" asp-for="IsSupplier" type="checkbox">
                                        <label for="IsSupplier">Supplier</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-4">  </div>
                                <div class="col-lg-8">
                                    @if (Model.Photo != null)
                                    {
                                        <img src=@Html.DisplayFor(modelItem => Model.Photo) class="img-thumbnail" style=" width: 25%; height : 25%;" />
                                    }
                                    else
                                    {
                                        <img src="~/img/userphotos/favicon.png" class="img-thumbnail" style=" width: 25%; height : 25%;" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-lg-4 col-lg-offset-4">
                                    <a class="btn btn-white" asp-action="Index">List</a>
                                    <input type="submit" value=@ViewBag.EntityState class="btn btn-primary submit" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-4"></div>
                            <div class="form-group">
                                <div class="col-lg-8 col-lg-offset-4">
                                    <input accept="image/jpg, image/png, image/gif" asp-for="Photo" type="hidden" />
                                    <input name="img" type="file" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*<script src="~/lib/jquery-validation/jquery.validate.min.js"></script>*@
@section customJS{
    <script>
        $.validate();
    </script>
    <script>
        function checkCNIC() {
           $("#Status").html("Checking...");
        $.post("@Url.Action("checkCustomerCNICAlreadyExist", "DetailInfo", "Booking")",
            {
                cnic: $("#CNIC").val()
            },
        function (data) {
            if (data == 0) {
                $("#Status").html('<font color="Green"></font>');
                $("#CNIC").css("border-color", "Green");
                $(".submit").removeAttr("disabled");
            }
            else {
                $("#Status").html('<font color="Red">Customer with same CNIC already exists.</font>');
                $("#CNIC").css("border-color", "Red");
                $(".submit").attr("disabled", "disabled");
            }
        });
    }


    $(function () {
        $('#AccountId').select2({
            ajax: {
                url: '/GL/Api/GetAccounts',
                dataType: 'json',
                delay: 250,
                placeholder: 'Search for a GL Account',
                processResults: function (data,params) {
                    return {
                        results: data
                    };
                },
                cache:true
            }
        });

        // Fetch the preselected item, and add to the control
        var id = @Model.AccountId;
        var accountSelect = $('#AccountId');
        $.ajax({
            type: 'GET',
            url: '/GL/Api/GetAccount?id=' + id
        }).then(function (data) {
            var option = new Option(data.text, data.id, true, true);
            accountSelect.append(option).trigger('change');
            accountSelect.trigger({
                type: 'select2:select',
                params: {
                    data: data
                }
            });
        });
        });
        //On Edit Customer CNIC shall not allow editing
        $(document).ready(function () {
            if ("@Model.CNIC" != "") {
                $("#CNIC").prop('readonly', true);
            }
            else {
                $("#CNIC").prop('disabled', false);
            }
        });
    </script>

}