
@*Bank Position*@
<div class="col-lg-6 col-sm-6">
    <div class="ibox">
        <div class="ibox-title"><h5>Cash/Bank Position</h5></div>
        <div class="ibox-content">
            <div id="chart_financial"></div>
        </div>
    </div>
</div>
