@* Sales Analysis*@
<div class="col-lg-9">
    <div class="ibox">
        <div class="ibox-title">
            <h5>Sales Analysis</h5>
        </div>
        <div class="ibox-content">
            <div id="chart_booking"></div>
        </div>
    </div>
</div>
