@*Stock Position*@
<div class="col-lg-6 col-sm-6">
    <div class="ibox">
        <div class="ibox-title"><h5>Stock Position</h5></div>
        <div class="ibox-content">
            <div id="chart_stock"></div>
        </div>
    </div>
</div>