@{
    ViewData["Title"] = "Balance Sheet";
    ViewData["CurrentPage"] = "Balance Sheet";
    var companyId = Context.Session.GetInt32("CompanyId").Value;
    var companyName = Context.Session.GetString("CompanyName");
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            @*<div class="ibox-title">
                <h5>@ViewBag.EntityState Balance Sheet</h5>
            </div>*@
            <div class="ibox-content">
                <form id="report" class="form-horizontal" method="post">
                    <input type="hidden" name="ReportTitle" value="BalanceSheet" />
                    <input type="hidden" name="CompanyId" value="@companyId" />
                    <input type="hidden" name="CompanyName" value="@companyName" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>End Date</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input autofocus class="form-control custom-date-picker" data-validation="required" type="text" name="EndDate" value=@CommonHelper.CurrentDate />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="checkbox checkbox-success">
                                        <input name="Level1" type="checkbox" checked />
                                        <label for="Level1">Level 1</label>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="checkbox checkbox-success">
                                        <input name="Level2" type="checkbox" checked />
                                        <label for="Level2">Level 2</label>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="checkbox checkbox-success">
                                        <input name="Level3" type="checkbox" checked />
                                        <label for="Level3">Level 3</label>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="checkbox checkbox-success">
                                        <input name="Level4" type="checkbox" checked />
                                        <label for="Level4">Level 4</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-left">
                            <input type="button" value="Preview" class="btn btn-primary" onclick="return generateReport();" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>