@{
    ViewData["Title"] = "Profit loss Comparison";
    ViewData["CurrentPage"] = "Profit Loss Comparison";
    var companyName = Context.Session.GetString("CompanyName");
    var companyId = Context.Session.GetInt32("CompanyId").Value;}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            @*<div class="ibox-title">
                    <h5>@ViewBag.EntityState Ledger</h5>
                </div>*@
            <div class="ibox-content">
                <form id="report" class="form-horizontal" method="post" asp-action="Create" asp-controller="Report">
                    <input type="hidden" name="ReportTitle" value="ProfitLossComparison" />
                    <input type="hidden" name="CompanyName" value="@companyName" />
                    <input type="hidden" name="CompanyId" value="@companyId" />                    
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Department</label>
                                <div class="input-group col-lg-12">
                                    <select autofocus name="Department" class="chosen-select form-control" asp-items="ViewBag.GLDivision" id="glDepart" data-validation="required" data-validation-error-msg="End Account is required" data-validation-error-msg-container="#eaccount">
                                        <option value="0">Please select a department</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Sub Department</label>
                                <div class="input-group col-lg-12">
                                    <select name="SubDepartment" class="chosen-select form-control" id="glSubDepart" data-validation="required" data-validation-error-msg="End Account is required" data-validation-error-msg-container="#eaccount">
                                        <option value="0">Please select end account</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Cost Center</label>
                                <div class="input-group col-lg-12">
                                    <select name="costCenter" class="chosen-select form-control" id="costCenter" data-validation="required" data-validation-error-msg="Cost Center is required" data-validation-error-msg-container="#costcenter">
                                        <option value="0">All</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Year</label>
                                <div class="input-group col-lg-12">
                                    <select name="Year" class="chosen-select form-control" id="accountYear" data-validation="required" data-validation-error-msg="Year is required" data-validation-error-msg-container="#year">
                                        <option value="All">All</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Start Date</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input class="form-control custom-date-picker" data-validation="required" type="text" id="StartDate" name="StartDate" value=@CommonHelper.CurrentDate />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>End Date</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input class="form-control custom-date-picker" data-validation="required" type="text" id="EndDate" name="EndDate" value=@CommonHelper.CurrentDate />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="checkbox checkbox-success">
                                        <input name="Level1" type="checkbox" checked />
                                        <label for="Level1">Level 1</label>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="checkbox checkbox-success">
                                        <input name="Level2" type="checkbox" checked />
                                        <label for="Level2">Level 2</label>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="checkbox checkbox-success">
                                        <input name="Level3" type="checkbox" checked />
                                        <label for="Level3">Level 3</label>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="checkbox checkbox-success">
                                        <input name="Level4" type="checkbox" checked />
                                        <label for="Level4">Level 4</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-left">
                            <input type="button" id="saveReport" value="Preview" class="btn btn-primary preview" onclick="return generateReport();" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section customJS{

    <script>

        $('#accountYear').on('click', function () {
            debugger
            $('#accountYear').find('option').not(':first').remove();
            $.ajax({
                dataType: 'json',
                url: "/GL/Api/GetYear",
            })
                .done(function (data) {
                    debugger
                    data = [...new Set(data.map(item => item.text))];
                    $.each(data, function (i, item) {

                        $('#accountYear').append($('<option>', {
                            value: item,
                            text: item
                        }));
                    });
                });
        });
        $('#accountYear').on('change', function () {
            var Year = $('#accountYear').val();
            var Start = $('#StartDate').val();
            var StartDate = Start.split('-');
            $('#StartDate').val(StartDate[0] + "-" + StartDate[1]+"-"+Year);
            var End = $('#EndDate').val();
            var EndDate = End.split('-');
            $('#EndDate').val(EndDate[0] + "-" + EndDate[1] + "-" + Year);
        });
        $('#glDepart').on('change', function () {
            debugger
            $('#glSubDepart').find('option').not(':first').remove();
            var department = $('#glDepart').val();
            $.ajax({
                method: "GET",
                url: "/GL/Api/GetSubDepartment",
                data: { departmentId: department }
            })
                .done(function (data) {
                    debugger
                    $.each(data, function (i, item) {
                        $('#glSubDepart').append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));
                    });
                });
        })
        $('#glSubDepart').on('change', function () {
            debugger
            $('#costCenter').find('option').not(':first').remove();
            var subDepartment = $('#glSubDepart').val();
            $.ajax({
                method: "GET",
                url: "/GL/Api/GetCostCenter",
                data: { departmentId: subDepartment }
            })
                .done(function (data) {
                    debugger
                    $.each(data, function (i, item) {
                        $('#costCenter').append($('<option>', {
                            value: item.value,
                            text: item.text
                        }));
                    });
                });
        })
        function generateReport1() {
                $.post('/GL/Api/Create',
                $("#report").serialize()).done(function (data) {
                    var reportURL = "@ViewBag.ReportPath"
                    reportURL += "?Id=";
                    reportURL += data;
                    window.open(reportURL, "_blank");
                });;

        }
        //function generateReport() {
        //    var accountId = $("#AccountId").val();
        //    var startDate = $("#StartDate").val();
        //    var endDate = $("#EndDate").val();
        //    var reportURL = "http://localhost:53525/ReportViewer?Report=Ledger";
        //    reportURL += "&StartDate=" + startDate;
        //    reportURL += "&EndDate=" + endDate;
        //    reportURL += "&Id=" + accountId;
        //    window.open(reportURL, "_blank");
        //}

    </script>
}

