@model IEnumerable<APIRNVM>
@{
    ViewData["Title"] = "List of IRN";
    ViewData["CurrentPage"] = "IRN";
}
<style>
    .table > thead {
        background-color: #4857a5;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div @*class="ibox-title"*@>
                <div class="ibox-content">
                    <div class="text-center">
                        <a class="btn btn-primary pull-left m-t-n-xs" asp-controller="IRN" asp-action="Index"> <strong> Create New </strong> </a>
                    </div>
                    <br />
                    <br />
                    <table class="table table-bordered table-striped" style="width:100%" id="irnTable">
                        <thead>
                            <tr>
                                <th width="10%" class="searchHeader">IRN No</th>
                                <th width="10%" class="searchHeader">IGP No</th>
                                <th width="14%" class="searchHeader">IRN Date</th>
                                <th width="22%" class="searchHeader">Vendor</th>
                                <th width="14%" class="searchHeader">Created By</th>
                                <th width="14%" class="searchHeader">Approved By</th>
                                <th width="16%">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section customJS{
    <script>
        $(document).ready(function () {
            var table1 = $("#irnTable").dataTable({
                lengthMenu: [
                    [10, 25, 50, -1],
                    [10, 25, 50, 'All'],
                ],
                "processing": true,
                "serverSide": true,
                "filter": true,
                "order": [[0, "desc"]],
                dom: "Blrtip",
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
                "ajax": {
                    "url": "/AP/IRN/GetIRN",
                    "type": "POST",
                    "datatype": "json"
                },
                "language": {
                    "decimal": "",
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "Showing 0 to 0 of 0 entries",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "_MENU_",
                    "loadingRecords": "Loading...",
                    "processing": "Processing...",
                    "search": "Search:",
                    "zeroRecords": "No matching records found",
                    "paginate": {
                        "first": "First",
                        "last": "Last",
                        "next": "Next",
                        "previous": "Previous"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                },
                "columnDefs": [{
                    "target": [0],
                    "visible": false,
                    "searchable": false
                }, { "orderable": false, "targets": [6] }],

                "columns": [
                    { "data": "apirn.irnNo", "name": "IRNNo", className: "text-center" },
                    { "data": "apirn.igpNo", "name": "IGPNo", className: "text-center" },
                    { "data": "irnDate", "name": "IRNDate", className: "text-center" },
                    {
                        "data": "vendorName", "name": "VendorID", className: "text-left"
                    },
                    { "data": "createdBy", "name": "CreatedBy", className: "text-center" },
                    { "data": "approvedBy", "name": "ApprovedBy", className: "text-center"},
                    {
                        "data": "apirn", className: "text-center",
                        "render": function (data, row) {
                            if (!data.isApproved) {
                                if (data.approve == true) {
                                    return "<div style=''><a href='/AP/IRN?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>    <a  href='/AP/IRN/Approve?id=" + data.id + "'class='btn btn-sm btn-success m-t-n-xs'><i class='fa fa-thumbs-up' title='Approve'></i></a>   <a  href='/AP/IRN/Delete?id=" + data.id + "' class='btn btn-sm btn-danger m-t-n-xs'><i class='fa fa-trash-alt' title='Delete'></i></a> </div>";
                                } else {
                                    return "<div style=''><a href='/AP/IRN?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>    <a  href='/AP/IRN/Delete?id=" + data.id + "' class='btn btn-sm btn-danger m-t-n-xs'><i class='fa fa-trash-alt' title='Delete'></i></a> </div>";
                                }
                            }
                            else {
                                if (data.unapprove == true) {
                                    return "<a href='/AP/IRN/Details?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-search' title='View'></i></a>    <a href='/AP/IRN/UnApprove?id=" + data.id + "' class='btn btn-sm btn-danger m-t-n-xs'><i class='fa fa-thumbs-down m-t-n-xs' title='Un Approve'></i></a>";
                                } else {
                                    return "<a href='/AP/IRN/Details?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-search' title='View'></i></a>";
                                }
                            }

                        }
                    }
                ],

            })
            $('#irnTable thead th').each(function () {
                if ($(this).hasClass("searchHeader")) {
                    var title = $(this).text();
                    $(this).html('<span hidden>' + title + '</span><input type="text" style ="color: black;width: inherit;" placeholder="' + title + '" />');
                }
            });
            table1.api().columns().every(function () {
                var that = this; debugger
                var searchBox = $('input', this.header());
                searchBox.on('keyup change clear', function () {
                    that.search(this.value).draw()
                })
                searchBox.on('click', function (e) {
                    debugger
                    e.stopPropagation();
                });
            });
        });
    </script>
}




