@model GRCategory

@{
    ViewData["Title"] = "List Greige Category";
    var companyName = Context.Session.GetString("CompanyName");
    var companyId = Context.Session.GetInt32("CompanyId").Value;
}
 
<style>
    .form-group > .select2-container {
        width: 100% !important;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5> Greige Category</h5>
                <span class="label label-success pull-right status"></span>
            </div>
            <div class="ibox-content ibox-content-1">
                <form class="" method="post" onsubmit="return check(this); ">
                    <div class="row">
                        <input hidden asp-for="Id" />
                        <input hidden asp-for="ItemCategoryId" />
                        <div class="col-lg-2 col-sm-4">
                            <div class="form-group">
                                <label class="col-form-label">Trans#</label>
                                @if (Model.TransactionNo != 0)
                                {
                                    <input readonly class="form-control" id="Code" data-validation="required" asp-for="TransactionNo" autocomplete="off" tabindex="-1" />
                                }
                                else
                                {
                                    <input readonly class="form-control" id="Code" data-validation="required" value="" autocomplete="off" tabindex="-1" />}
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4">
                            <div class="form-group">
                                <label>Trans Date</label>
                                <div class="input-group" readonly>
                                    <span class="input-group-addon" readonly><i class="fa fa-calendar"></i></span>
                                    <input tabindex="-1" id="TransactionDate" class="form-control" asp-for="TransactionDate" type="text" readonly value="@CommonHelper.CurrentDate" />
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="col-form-label">Min Threads</label>
                                <input type="number" asp-for="MinThreads" onchange="minThread();" id="MinThreads" class="form-control text-right" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="col-form-label">Max Threads</label>
                                <input type="number" asp-for="MaxThreads" id="MaxThreads" class="form-control text-right" />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="col-form-label">Min Width</label>
                                <input type="number" asp-for="MinWidth" onchange="minWidth();" id="MinWidth" class="form-control text-right" />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="col-form-label">Max Width</label>
                                <input type="number" asp-for="MaxWidth" id="MaxWidth" class="form-control text-right" />
                            </div>
                        </div>
                      
                        <div class="col-lg-1">
                            <br />
                            <button class="btn btn-primary" onclick="return Validation();" id="btnSave" asp-controller="Category" asp-action="Create">Save</button>
                            <input type="hidden" id="SaveBtnFocus" value="OFF" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <table id="Table" width="100%" class="table table-bordered table-striped dataTables-example">
                                        <thead>
                                            <tr>
                                                <th hidden>Id</th>
                                                <th style="width: 6%" class="searchHeader">ID</th>
                                                <th style="width: 10%" class="searchHeader">Date</th>
                                                <th style="width: 10%" class="searchHeader">Min Threads</th>
                                                <th style="width: 10%" class="searchHeader">Max Threads</th>
                                                <th style="width: 10%" class="searchHeader">Min Width</th>
                                                <th style="width: 10%" class="searchHeader">Max Width</th>
                                                <th style="width: 23%" class="searchHeader">Category Description</th>
                                                <th style="width: 12%">Action</th>
                                            </tr>
                                        </thead>

                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>



@section customJS{
    
    <script>
        $(document).ready(function () {

            $("#btnSave").focus(function () {
                $("#SaveBtnFocus").val("ON");
            });
            $("#btnSave").blur(function () {
                $("#SaveBtnFocus").val('OFF');
            });

            var table1 = $("#Table").DataTable({
                lengthMenu: [
                [50, 100, 150, -1],
                    [50, 100, 150, 'All'],
                ],
                processing: true,
                serverSide: true,
                paging: true,
                filter: true,
                order: [[0, "desc"]],
                dom: "Blrtip",
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
                ajax: {
                    "url": "/Greige/Category/GetCategoryList",
                    "type": "POST",
                    "datatype": "json"
                },
                language: {
                    "decimal": "",
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "Showing 0 to 0 of 0 entries",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "_MENU_",
                    "loadingRecords": "Loading...",
                    "processing": "Processing...",
                    "search": "Search:",
                    "zeroRecords": "No matching records found",
                    "paginate": {
                        "first": "First",
                        "last": "Last",
                        "next": "Next",
                        "previous": "Previous"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                },
                columnDefs: [{
                    "targets": '_all',
                    "defaultContent": "-"
                }, { "orderable": false, "targets": [8] }
                    ],
                columns: [
                    { "data": "category.id", "name": "Id", className: "text-center hidden" },
                    { "data": "category.transactionNo", "name": "TransactionNo", className: "text-center " },
                    { "data": "updatedBy", "name": "TransactionDate", className: "text-center " },
                    { "data": "category.minThreads", "name": "minThreads", className: "text-right" },
                    { "data": "category.maxThreads", "name": "maxThreads", className: "text-right" },
                    { "data": "category.minWidth", "name": "minWidth", className: "text-right" },
                    { "data": "category.maxWidth", "name": "maxWidth", className: "text-right" },
                    { "data": "category.description", "name": "Description", className: "text-left" },
                    
                    {
                        "data": "category", className: "text-center",
                        "render": function (data, row) {
                         
                               debugger;
                            if (data.status != "Approved") {
                                if (data.approve == true) {
                                    return "<a href='/Greige/Category/Index?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>    <a  href='/Greige/Category/Approve?id=" + data.id + "'class='btn btn-sm btn-success m-t-n-xs'><i class='fa fa-thumbs-up' title='Approve'></i></a> ";
                                } else {
                                    return "<a href='/Greige/Category/Index?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>";
                                }
                            }
                            else {
                                if (data.unapprove == true) {
                                    return "<a href='/Greige/Category/Details?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-search' title='View'></i></a>    <a href='/Greige/Category/UnApprove?id=" + data.id + "' class='btn btn-sm btn-danger m-t-n-xs'><i class='fa fa-thumbs-down m-t-n-xs' title='Un Approve'></i></a>";
                                } else {
                                    return "<a href='/Greige/Category/Details?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-search' title='View'></i></a>";
                                }
                            }



                           // return "<a href='/Greige/Category/Index?id=" + data + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a> <a href='/Greige/Category/Delete?id=" + data + "' class='btn btn-sm btn-danger m-t-n-xs'><i class='fa fa-trash' title='Delete'></i></a>    ";
                        }
                    }
                ]
            })
            $('#Table thead th').each(function () {
                if ($(this).hasClass("searchHeader")) {
                    var title = $(this).text();
                    $(this).html('<input type="text" style ="color: black;width: inherit;" placeholder="' + title + '" />');
                }
            });
            table1.columns().every(function () {
                var that = this; debugger
                var searchBox = $('input', this.header());
                searchBox.on('keyup change clear', function () {
                    that.search(this.value).draw()
                })
                searchBox.on('click', function (e) {
                    debugger
                    e.stopPropagation();
                });
            });
        });



        function minThread() {
            var minthreas = Number($('#MinThreads').val());
            var maxthread = minthreas + 30;
            $('#MaxThreads').val(maxthread);
        }
        function minWidth() {
            var minwidth = Number($('#MinWidth').val());
            var maxthread = minwidth +30;
            $('#MaxWidth').val(maxthread);
        }



        function Validation() {
            debugger
            var SaveBtnFocus = $("#SaveBtnFocus").val();
            if (SaveBtnFocus == "OFF") {
                return false;
            }
            if ($('#MinThreads').val() == 0 || $('#MinThreads').val() == "") {
                swal({
                    icon: 'warning',
                    text: "Please Enter Min Threads!",
                    closeModal: false
                }).then(function () {
                    swal.close();
                    $('#MinThreads').focus();
                });
                return false;
            }
            else if ($('#MaxThreads').val() == 0 || $('#MaxThreads').val() == "") {
                swal({
                    icon: 'warning',
                    text: "Please Enter Max Threads!",
                    closeModal: false
                }).then(function () {
                    swal.close();
                    $('#MaxThreads').focus();
                });
                return false;
            }
            else if ($('#MinWidth').val() == 0 || $('#MinWidth').val() == "") {
                swal({
                    icon: 'warning',
                    text: "Please Enter Min Width!",
                    closeModal: false
                }).then(function () {
                    swal.close();
                    $('#MinWidth').focus();
                });
                return false;
            }
            else if ($('#MaxWidth').val() == 0 || $('#MaxWidth').val() == "") {
                swal({
                    icon: 'warning',
                    text: "Please Enter Max Width!",
                    closeModal: false
                }).then(function () {
                    swal.close();
                    $('#MaxWidth').focus();
                });
                return false;
            }
          
            return true;
        }
      
    </script>
}


