@model IEnumerable<ARRecoveryPercentage>
@{
    ViewData["Title"] = "List of Recovery Percentage";
    ViewData["CurrentPage"] = "Recovery Percentage";

    var companyName = Context.Session.GetString("CompanyName");
    var companyId = Context.Session.GetInt32("CompanyId").Value;
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div @*class="ibox-title"*@>
                <div class="ibox-content">
                    <div class="text-center">
                        <a class="btn btn-primary pull-left m-t-n-xs" asp-controller="RecoveryPercentage" asp-action="Create"> <strong> Create New </strong> </a>
                    </div>
                    <br />
                    <br />
                    <table style="width:100%;" id="Table" class="table table-bordered table-striped dataTables-example">
                        <thead>
                            <tr>
                                <th class="searchHeader"  width="15%">@Html.DisplayNameFor(model => model.TransactionNo)</th>
                                <th class="searchHeader"  width="45%">@Html.DisplayNameFor(model => model.ItemCategory_Id)</th>
                                <th class="searchHeader"  width="20%">@Html.DisplayNameFor(model => model.Status)</th>
                                <th width="20%">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section customJS{
    <script>
        $(document).ready(function () {
            var table1 = $("#Table").DataTable({
                lengthMenu: [
                    [50, 100, 150, -1],
                    [50, 100, 150, 'All'],
                ],
                processing: true,
                serverSide: true,
                paging: true,
                filter: true,
                order: [[0, "desc"]],
                dom: "Blrtip",
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
                ajax: {
                    "url": "/AR/RecoveryPercentage/GetList",
                    "type": "POST",
                    "datatype": "json"
                },
                language: {
                    "decimal": "",
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "Showing 0 to 0 of 0 entries",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "_MENU_",
                    "loadingRecords": "Loading...",
                    "processing": "Processing...",
                    "search": "Search:",
                    "zeroRecords": "No matching records found",
                    "paginate": {
                        "first": "First",
                        "last": "Last",
                        "next": "Next",
                        "previous": "Previous"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                },
                columnDefs: [{
                    "targets": '_all',
                    "defaultContent": "-"
                }, { "orderable": false, "targets": [3] }],
                columns: [
                    { "data": "arRecoveryPercentage.transactionNo", "name": "TransactionNo", className: "text-center" },
                    { "data": "itemCategory", "name": "ItemCategory_Id", className: "text-left" },
                    { "data": "arRecoveryPercentage.status", "name": "Status", className: "text-center" },
                    {
                        "data": "arRecoveryPercentage", className: "text-center",
                        "render": function (data, row) {

                            if (data.status != "Approved") {
                                if (data.approve == true) {
                                    return "<a  href='/AR/RecoveryPercentage/Approve?id=" + data.id + "' class='btn btn-sm btn-success m-t-n-xs'><i class='fa fa-thumbs-up'  title='Approve'></i></a> <a href='/AR/RecoveryPercentage/Create?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>    <a  href='/AR/RecoveryPercentage/Delete?id=" + data.id + "' class='btn btn-sm btn-danger m-t-n-xs'><i class='fa fa-trash'  title='Delete'></i></a>";
                                } else {
                                    return "<a href='/AR/RecoveryPercentage/Create?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>    <a  href='/AR/RecoveryPercentage/Delete?id=" + data.id + "' class='btn btn-sm btn-danger m-t-n-xs'><i class='fa fa-trash'  title='Delete'></i></a>";
                                }
                            }
                            else {
                                if (data.unapprove == true) {
                                    return "<a  href='/AR/RecoveryPercentage/UnApprove?id=" + data.id + "' class='btn btn-sm btn-danger m-t-n-xs'><i class='fa fa-thumbs-down'  title='UnApprove'></i></a> <a href='/AR/RecoveryPercentage/Details?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-search' title='View'></i></a> ";
                                } else {
                                    return "<a href='/AR/RecoveryPercentage/Details?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-search' title='View'></i></a> ";
                                }
                            }
                        }
                    }
                    //{
                    //    "data": "apSaleOrder",
                    //    "render": function (data, row) {
                    //        if (data.status != "Approved") {
                    //            return "<a href='/AR/SaleOrder/Create?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>    <a  href='/AR/SaleOrder/Approve?id=" + data.id + "' class='btn btn-sm btn-success m-t-n-xs'><i class='fa fa-thumbs-up'  title='Approve'></i></a>  <a onclick='openReport(" + data.id + ")' class='btn btn-sm btn-primary btn-lg m-t-n-xs' > <i class='fas fa-print' title='Print Report'></i></a > ";
                    //        }
                    //        else {
                    //            return '<a href="/AR/SaleOrder/Details?id=' + data.id + '" class="btn btn-sm btn-info m-t-n-xs"><i class="fa fa-search" title="View"></i></a> <a onclick="openReport(' + data.id + ')" class="btn btn-sm btn-primary btn-lg m-t-n-xs" > <i class="fas fa-print" title="Print Report"></i></a >';
                    //        }

                    //    }
                    //}
                ]
            })
            $('#Table thead th').each(function () {
                if ($(this).hasClass("searchHeader")) {
                    var title = $(this).text();
                    $(this).html('<input type="text" style ="color: black;width: inherit;" placeholder="' + title + '" />');
                }
            });
            table1.columns().every(function () {
                var that = this;
                var searchBox = $('input', this.header());
                searchBox.on('keyup change clear', function () {
                    that.search(this.value).draw()
                })
                searchBox.on('click', function (e) {
                    e.stopPropagation();
                });
            });
        });
        
    </script>
}