@{
    ViewData["Title"] = "List of Greige GRN";
    ViewData["CurrentPage"] = "Greige GRN";
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            @*<div class="ibox-title">
                    <h5>List of Items</h5>
                </div>*@
            <div class="ibox-content">
                <div class="text-center">
                    <a class="btn btn-primary pull-left m-t-n-xs" asp-controller="GRN" asp-action="Create"><strong>Create New</strong></a>
                </div>
                <br />
                <br />
                <table style="width:100%;" id="Table" class="table table-bordered table-striped dataTables-example">
                    <thead>
                        <tr>
                            <th class="searchHeader" width="10%">GRN #</th>
                            <th class="searchHeader" width="14%">GRN Date</th>
                            <th class="searchHeader" width="14%">Folding</th>
                            <th class="searchHeader" width="14%">Weaving Contract</th>
                            <th class="searchHeader" width="14%">Purchase contract</th>
                            <th class="searchHeader" width="18%">Vendor</th>
                            <th width="16%">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section customJS{
    <script>
        $(document).ready(function () {
            var table1 = $("#Table").dataTable({
                lengthMenu: [
                    [50, 100, 150, -1],
                    [50, 100, 150, 'All'],
                ],
                "processing": true,
                "serverSide": true,
                "filter": true,
                /*"order": false,*/
                order: [[0, "desc"]],
                dom: "Blrtip",
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
                "ajax": {
                    "url": "/Greige/GRN/GetList",
                    "type": "POST",
                    "datatype": "json"
                },
                "language": {
                    "decimal": "",
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "Showing 0 to 0 of 0 entries",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "_MENU_",
                    "loadingRecords": "Loading...",
                    "processing": "Processing...",
                    "search": "Search:",
                    "zeroRecords": "No matching records found",
                    "paginate": {
                        "first": "First",
                        "last": "Last",
                        "next": "Next",
                        "previous": "Previous"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                },
                "columnDefs": [{

                    "targets": '_all',
                    "defaultContent": "-"
                }, { "orderable": false, "targets": [6] }],

                "columns": [
                    { "data": "transactionNo", "name": "TransactionNo", className: "text-center" },
                    { "data": "transactionDate", "name": "GRGRN.TansactionDate", className: "text-center" },
                    { "data": "grgrn.folding.foldingNo", "name": "Folding.FoldingNo", className: "text-center" },
                    { "data": "grgrn.weavingContractId", "name": "WeavingContractId", className: "text-center" },
                    { "data": "grgrn.purchaseContractId", "name": "PurchaseContractId", className: "text-center" },
                    { "data": "vendorName", "name": "VendorName", className: "text-left" },
                    {

                          "data": "grgrn", className: "text-center",
                        "render": function(data) {

                            debugger;
                            if (data.status != "Approved") {
                                if (data.approve == true) {
                                    return "<a href='/Greige/GRN/Create?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>    <a  href='/Greige/GRN/Approve?id=" + data.id + "'class='btn btn-sm btn-success m-t-n-xs'><i class='fa fa-thumbs-up' title='Approve'></i></a>     ";
                                } else {
                                    return "<a href='/Greige/GRN/Create?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>";
                                }
                            }
                            else {
                                if (data.unapprove == true) {
                                    return "<a href='/Greige/GRN/Details?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-search' title='View'></i></a> <a href='@ViewBag.ReportPath" + data.voucherId + "' target='_blank' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-print' title='print'></i></a>   <a href='/Greige/GRN/UnApprove?id=" + data.id + "' class='btn btn-sm btn-danger m-t-n-xs'><i class='fa fa-thumbs-down m-t-n-xs' title='Un Approve'></i></a>  <a href='@ViewBag.ReportPath2" + data.id + "' target='_blank' class='btn btn-sm btn-primary btn-lg m-t-n-xs'><i class='fas fa-print' title='Print Report'></i></a></a>  ";
                                } else {
                                    return "<a href='/Greige/GRN/Details?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-search' title='View'></i></a>";
                                }
                            }

                        }
                        //"data": "id", className: "text-center",
                        //"render": function (data) {
                        //    return "<a href='/Greige/GRN/Create?id=" + data + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>    <a href='/Greige/GRN/Delete?id=" + data + "' class='btn btn-sm btn-danger m-t-n-xs'><i class='far fa-trash-alt' title='Delete'></i></a>";
                        //}
                    }
                ],

            })
            $('#Table thead th').each(function () {
                if ($(this).hasClass("searchHeader")) {
                    var title = $(this).text();
                    $(this).html('<span hidden>' + title + '</span><input type="text" style ="color: black;width: inherit;" placeholder="' + title + '" />');
                }
            });
            table1.api().columns().every(function () {
                var that = this; debugger
                var searchBox = $('input', this.header());
                searchBox.on('keyup change clear', function () {
                    that.search(this.value).draw()
                })
                searchBox.on('click', function (e) {
                    debugger
                    e.stopPropagation();
                });
            });
        });
    </script>
}
