@model IEnumerable<ARReceipt>
@{
    ViewData["Title"] = "List of Receipt Invoices";
    ViewData["CurrentPage"] = "Supplier Payments";

    var companyName = Context.Session.GetString("CompanyName");
    var companyId = Context.Session.GetInt32("CompanyId").Value;
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div @*class="ibox-title"*@>
                <div class="ibox-content">
                    <div class="text-center">
                        <a class="btn btn-primary pull-left m-t-n-xs" asp-controller="Receipt" asp-action="CreateReceipt"> <strong> Create New </strong> </a>
                    </div>
                    <br />
                    <br />
                    <div class="table-responsive">
                        <table style="width:100%;" id="Table" class="table table-bordered table-striped dataTables-example">
                            <thead>
                                <tr>
                                    <th class="searchHeader" style="width: 7%">Rec.#</th>
                                    <th class="searchHeader" style="width: 8%">Rec. Date</th>
                                    <th class="searchHeader" style="width: 20%">Customer</th>
                                    <th class="searchHeader" style="width: 15%">Item Category</th>
                                    <th class="searchHeader" style="width: 15%">City</th>
                                    <th class="searchHeader" style="width: 7%">Total Received</th>
                                    <th class="searchHeader" style="width: 7%">Grand Total</th>
                                    <th class="searchHeader" style="width: 8%">Status</th>
                                    <th width="12%">Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section customJS{
    <script>
        $(document).ready(function () {
            var table1 = $("#Table").dataTable({
                lengthMenu: [
                    [50, 100, 150, -1],
                    [50, 100, 150, 'All'],
                ],
                "processing": true,
                "serverSide": true,
                "filter": true,
                "order": [[0, "desc"]],
                dom: "Blrtip",
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
                "ajax": {
                    "url": "/AR/Receipt/GetReceiptList",
                    "type": "POST",
                    "datatype": "json"
                },
                "language": {
                    "decimal": "",
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "Showing 0 to 0 of 0 entries",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "_MENU_",
                    "loadingRecords": "Loading...",
                    "processing": "Processing...",
                    "search": "Search:",
                    "zeroRecords": "No matching records found",
                    "paginate": {
                        "first": "First",
                        "last": "Last",
                        "next": "Next",
                        "previous": "Previous"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                },
                "columnDefs": [{

                    "targets": '_all',
                    "defaultContent": "-"
                },

                    { "orderable": false, "targets": [7] },
                    {
                        targets: [4,5],
                        render: $.fn.dataTable.render.number(',', '.', 2, '')
                    }
                ],

                "columns": [
                    { "data": "receipt.receiptNo", "name": "ReceiptNo", className: "text-center" },
                    { "data": "recDate", "name": "ReceiptDate", className: "text-center" },
                    { "data": "customerName", "name": "CustomerId", className: "text-left" },
                    { "data": "receipt.itemCategory.name", "name": "ItemCategory.Name", className: "text-left" },
                    { "data": "receipt.city.name", "name": "City.Name", className: "text-left" },
                    { "data": "receipt.totalReceivedAmount", "name": "TotalReceivedAmount", className: "text-right" },
                    { "data": "receipt.grandTotal", "name": "GrandTotal", className: "text-right" },
                    { "data": "receipt.status", "name": "Status", className: "text-center" },
                    {
                        "data": "receipt", className: "text-center",
                        "render": function (data, row) {
                            if (data.status != "Approved") {
                                if (data.approve == true) {
                                    return "<a href='/AR/Receipt/Create?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>    <a  href='/AR/Receipt/Approve?id=" + data.id + "' class='btn btn-sm btn-success m-t-n-xs' > <i class='fa fa-thumbs-up' title='Approve'></i><a href='@ViewBag.ReportUrl/Viewer?Report=Receipt&cId=1&id=" + data.id + "' target='_blank' class='btn btn-sm btn-primary btn-lg m-t-n-xs'><i class='fas fa-print' title='Print Report'></i></a></a>    <a href = '/AR/Receipt/Delete?id=" + data.id + "' class='btn btn-sm btn-danger m-t-n-xs' > <i class='fa fa-trash-alt' title='Delete'></i></a > ";
                                } else {
                                    return "<a href='/AR/Receipt/Create?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>    <a href='@ViewBag.ReportUrl/Viewer?Report=Receipt&cId=1&id=" + data.id + "' target='_blank' class='btn btn-sm btn-primary btn-lg m-t-n-xs'><i class='fas fa-print' title='Print Report'></i></a></a>    <a href = '/AR/Receipt/Delete?id=" + data.id + "' class='btn btn-sm btn-danger m-t-n-xs' > <i class='fa fa-trash-alt' title='Delete'></i></a > ";
                                }
                            }
                            else {
                                return '<a href="/AR/Receipt/Details?id=' + data.id + '" class="btn btn-sm btn-info m-t-n-xs"><i class="fa fa-search" title="View"></i></a> ' + "<a href='@ViewBag.ReportUrl/Viewer?Report=Receipt&cId=1&id=" + data.id + "' target='_blank' class='btn btn-sm btn-primary btn-lg m-t-n-xs'><i class='fas fa-print' title='Print Report'></i></a>";
                            }

                        }
                    }
                ],

            })
            $('#Table thead th').each(function () {
                if ($(this).hasClass("searchHeader")) {
                    var title = $(this).text();
                    $(this).html('<input type="text" style ="color: black;width: inherit;" placeholder="' + title + '" />');
                }
            });
            table1.api().columns().every(function () {
                var that = this;
                var searchBox = $('input', this.header());
                searchBox.on('keyup change clear', function () {
                    that.search(this.value).draw()
                })
                searchBox.on('click', function (e) {
                    e.stopPropagation();
                });
            });
        });
        function openReport(id) {
            generateApArReport(id, "Receipt", "@companyName",@companyId);
        }

    </script>
}