@model IEnumerable<ARSaleOrder>
@{
    ViewData["Title"] = "List of Sale Orders";
    ViewData["CurrentPage"] = "Sale Orders";

    var companyName = Context.Session.GetString("CompanyName");
    var companyId = Context.Session.GetInt32("CompanyId").Value;
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div @*class="ibox-title"*@>
                <div class="ibox-content">
                    <div class="text-center">
                        <a class="btn btn-primary pull-left m-t-n-xs" asp-controller="SaleOrder" asp-action="Create"> <strong> Create New </strong> </a>
                    </div>
                    <br />
                    <br />
                    <table style="width:100%;" id="Table" class="table table-bordered table-striped dataTables-example">
                        <thead>
                            <tr>
                                <th class="searchHeader" width="8%">S.O #</th>
                                <th class="searchHeader" width="10%">S.O Date</th>
                                <th class="searchHeader" width="18%">Customer</th>
                                <th class="searchHeader" width="10%">Total</th>
                                @*<th class="searchHeader" width="8%">Ref. #</th>*@
                                @*<th class="searchHeader" width="10%">Freight</th>*@
                                @*<th class="searchHeader" width="13%">Total S.Tax</th>*@
                                <th class="searchHeader" width="10%">G. Total</th>
                                <th class="searchHeader" width="10%">Status</th>
                                <th width="14%">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section customJS{
    <script>
        $(document).ready(function () {
            var table1 = $("#Table").DataTable({
                lengthMenu: [
                    [50, 100, 150, -1],
                    [50, 100, 150, 'All'],
                ],
                processing: true,
                serverSide: true,
                paging: true,
                filter: true,
                order: [[0, "desc"]],
                dom: "Blrtip",
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
                ajax: {
                    "url": "/AR/SaleOrder/GetSO",
                    "type": "POST",
                    "datatype": "json"
                },
                language: {
                    "decimal": "",
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "Showing 0 to 0 of 0 entries",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "_MENU_",
                    "loadingRecords": "Loading...",
                    "processing": "Processing...",
                    "search": "Search:",
                    "zeroRecords": "No matching records found",
                    "paginate": {
                        "first": "First",
                        "last": "Last",
                        "next": "Next",
                        "previous": "Previous"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                },
                columnDefs: [{
                    "targets": '_all',
                    "defaultContent": "-"
                }, { "orderable": false, "targets": [6] },
                    {
                        targets: [3,4,5],
                        render: $.fn.dataTable.render.number(',','.', 2, '')
                    }],
                columns: [
                    { "data": "apSaleOrder.saleOrderNo", "name": "SaleOrderNo", className: "text-center" },
                    { "data": "soDate", "name": "SaleOrderDate", className: "text-center" },
                    { "data": "customerName", "name": "CustomerId", className: "text-left" },
                    { "data": "apSaleOrder.total", "name": "Total", className: "text-right" },
                    /*{ "data": "apSaleOrder.referenceNo", "name": "ReferenceNo", className: "text-center" },*/
                    //{ "data": "apSaleOrder.freight", "name": "Freight", className: "text-right" },
                    /*{ "data": "apSaleOrder.totalTaxAmount", "name": "TotalTaxAmount", className: "text-right" },*/
                    { "data": "apSaleOrder.grandTotal", "name": "GrandTotal", className: "text-right" },
                    { "data": "apSaleOrder.status", "name": "Status", className: "text-center" },
                    {
                        "data": "apSaleOrder",
                        "render": function (data, row) {
                            if (data.status != "Approved") {
                                if (data.approve == true) {
                                    return "<a href='/AR/SaleOrder/Create?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>    <a  href='/AR/SaleOrder/Approve?id=" + data.id + "' class='btn btn-sm btn-success m-t-n-xs'><i class='fa fa-thumbs-up'  title='Approve'></i></a>  <a onclick='openReport(" + data.id + ")' class='btn btn-sm btn-primary btn-lg m-t-n-xs' > <i class='fas fa-print' title='Print Report'></i></a > ";
                                } else {
                                    return "<a href='/AR/SaleOrder/Create?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>    <a onclick='openReport(" + data.id + ")' class='btn btn-sm btn-primary btn-lg m-t-n-xs' > <i class='fas fa-print' title='Print Report'></i></a > ";
                                }
                            }
                            else {
                                return '<a href="/AR/SaleOrder/Details?id=' + data.id + '" class="btn btn-sm btn-info m-t-n-xs"><i class="fa fa-search" title="View"></i></a> <a onclick="openReport(' + data.id + ')" class="btn btn-sm btn-primary btn-lg m-t-n-xs" > <i class="fas fa-print" title="Print Report"></i></a >';
                            }
                        }
                    }
                ]
            })
            $('#Table thead th').each(function () {
                if ($(this).hasClass("searchHeader")) {
                    var title = $(this).text();
                    $(this).html('<input type="text" style ="color: black;width: inherit;" placeholder="' + title + '" />');
                }
            });
            table1.columns().every(function () {
                var that = this; debugger
                var searchBox = $('input', this.header());
                searchBox.on('keyup change clear', function () {
                    that.search(this.value).draw()
                })
                searchBox.on('click', function (e) {
                    debugger
                    e.stopPropagation();
                });
            });
        });
        function openReport(id) {
            generateApArReport(id, "SalesOrder", "@companyName",@companyId);
        }
    </script>
}