@model InwardGatePassViewModel
@{ ViewData["Title"] = "Create  Inward Gate Pass";
    ViewData["CurrentPage"] = "Inward Gate Pass";
}

@section customCSS{
    <link href="~/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/plugins/codemirror/codemirror.css" rel="stylesheet" />
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
        .form-group > .select2-container {
            width: 100% !important;
        }
    </style>

}
<div class="col-lg-12 ibox ibox-content">
    <form id="FormId" method="post" asp-action="Create" asp-controller="InwardGatePass" enctype="multipart/form-data"  onsubmit="return OnSubmit();">
        <input asp-for="Id" type="hidden" />

        <input type="hidden" id="counter" value="0" />
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-2 col-sm-3">
                        <div class="form-group">
                            <label asp-for="IGPNo"></label>
                            <div class="input-group">
                                @if (Model.IGPNo != 0)
                                {
                                    <input tabindex="-1" asp-for="IGPNo" readonly class="form-control" />
                                }
                                else
                                {
                                    <input tabindex="-1" value="" readonly class="form-control" />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <div class="form-group">
                            <label asp-for="IGPDate"></label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input tabindex="-1" asp-for="IGPDate" class="form-control" type="text" value="@(Model.Id == 0 ? CommonHelper.CurrentDate : Model.IGPDate.ToString(CommonHelper.DateFormat))" readonly />
                            </div>
                            <p id="rDate"></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            <label asp-for="WarehouseId"></label>
                            <Select autofocus id="WarehouseId" asp-for="WarehouseId" asp-items="ViewBag.WareHouseLOV" class="form-control">
                                <option selected disabled value="0">Select...</option>
                            </Select>
                            <p id="bCash"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <div class="form-group">
                            <label asp-for="CustomerId"></label>
                            @if (Model.Id != 0)
                            {
                                <Select asp-for="CustomerId" id="CustomerId" asp-items="Model.CustomerLOV" class="form-control">
                                    <option selected disabled value="0">Select...</option>
                                </Select>
                            }
                            else
                            {
                                <Select asp-for="CustomerId" id="CustomerId" asp-items="Model.CustomerLOV" class="form-control">
                                    <option selected value="0">Select...</option>
                                </Select>
                            }
                        </div>
                    </div>
                   
                </div>
                <div class="row">

                    <div class="col-lg-5 col-sm-8">
                        <div class="form-group">
                            <label>Address</label>
                            <input id="address" value="@Model.Address" readonly type="text" tabindex="2" class="form-control" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4">
                        <div class="form-group">
                            <label asp-for="OGPId"></label>
                            @if (Model.Id != 0)
                            {
                                <Select id="OGPId" asp-for="OGPId" asp-items="ViewBag.OGPNo" class="form-control">
                                    <option selected disabled value="0">Select...</option>
                                </Select>
                            }
                            else
                            {
                                <Select id="OGPId" asp-for="OGPId" asp-items="ViewBag.OGPNo" class="form-control">
                                    <option selected value="0">Select...</option>
                                </Select>
                            }

                            <p id="ogp"></p>
                        </div>
                    </div>

                </div>
               
                <div class="row">
                    <div class="col-lg-2 col-sm-3">
                        <div class="form-group">
                            <label asp-for="BuiltyNo"></label>
                            <div class="input-group">
                                <input asp-for="BuiltyNo" id="builtyNo" tabindex="-1" readonly class="form-control" onkeypress="return isNumberKey(event)" onpaste="return false;" ondrop="return false;" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-3">
                        <div class="form-group">
                            <label asp-for="Bails"></label>
                            <div class="input-group">
                                <input asp-for="Bails" id="bails" type="text" tabindex="-1" readonly min="0" step="1" class="add-comma form-control text-right" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-left mb-3">
                <a asp-controller="InwardGatePass" asp-action="Index" class="btn btn-white">List</a>
                <button id="SaveBtn" type="submit" class="btn btn-primary">@ViewBag.EntityState</button>
                <input type="hidden" id="SaveBtnFocus" value="OFF" />
            </div>
        </div>
    </form>
</div>
@section customJS{
    <script>
        $(document).ready(function () {
            $("#WarehouseId").select2();
            $("#CustomerId").select2();
            $("#OGPId").select2();
            $("#SaveBtn").focus(function () {
                $("#SaveBtnFocus").val("ON");
            });
            $("#SaveBtn").blur(function () {
                $("#SaveBtnFocus").val('OFF');
            });
            //On change Warehouse
            $('#WarehouseId').on('change', function () {
                debugger
                var warehouseId = $("#WarehouseId").find(":selected").val();
                $('#CustomerId').find('option').not(':first').remove();
                $('#OGPId').find('option').not(':first').remove();
                $('#builtyNo').val("");
                $('#bails').val("");
                $('#address').val("");
                $.ajax({
                    type: "GET",
                    url: "/AR/InwardGatePass/GetCustomer",
                    data: { warehouseId }
                }).done(function (data) {
                    debugger
                    if (data != null) {
                        $.each(data, function (i, item) {
                            debugger
                            $('#CustomerId').append($('<option>', {
                                value: item.id,
                                text: item.name
                            }));
                        });

                        return false;
                    }
                });
            })
            //On change Customer
            $('#CustomerId').on('change', function () {
                debugger
                var customerId = $('#CustomerId').val();
                $('#builtyNo').val("");
                $('#bails').val("");
                $('#OGPId').find('option').not(':first').remove();
                $.ajax({
                    type: "GET",
                    url: "/AR/InwardGatePass/GetCustomerAddress",
                    data: { Id: customerId }
                }).done(function (data) {
                    debugger
                    if (data != null) {
                        $('#address').val(data);
                        return false;
                    }
                });
                $.ajax({
                    type: "GET",
                    url: "/AR/InwardGatePass/GetOGPNo",
                    data: { Id: customerId }
                }).done(function (data) {
                    debugger
                    if (data != null) {
                        $.each(data, function (i, item) {
                            debugger
                            $('#OGPId').append($('<option>', {
                                value: item.id,
                                text: item.ogpNo
                            }));
                        });

                        return false;
                    }
                });
            })
            //On change OGP
            $('#OGPId').on('change', function () {
                debugger
                var ogpId = $('#OGPId').find(":selected").val();
                $.ajax({
                    type: "GET",
                    url: "/AR/InwardGatePass/GetBuiltyAndBale",
                    data: { Id: ogpId }
                }).done(function (data) {
                    debugger
                    if (data != null) {
                        $('#builtyNo').val(data.builtyNo);
                        $('#bails').val(data.ogpQty);
                        $('input.add-comma').commaTextbox();
                        return false;
                    } else {
                        $('#builtyNo').val("");
                        $('#bails').val("");
                    }
                });
            })
            $('input.add-comma').commaTextbox();

        });
        function isNumberKey(evt) {
            //evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode == 8 || charCode == 37) {
                return true;
            } else if (charCode == 46 && $(this).val().indexOf('.') != -1) {
                return false;
            } else if (charCode > 31 && charCode != 46 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
        function OnSubmit(form) {
            debugger;
            var SaveBtnFocus = $("#SaveBtnFocus").val();
            if (SaveBtnFocus == "OFF") {
                return false;
            }

            if ($("#WarehouseId").find(":selected").val() == 0) {
                swal({
                    icon: 'warning',
                    text: "Enter Select the Warehouse!",
                    closeModal: false
                }).then(function () {
                    swal.close();
                    $('#WarehouseId').focus();
                });
                return false;
            }
            if ($("#CustomerId").find(":selected").val() == 0) {
                swal({
                    icon: 'warning',
                    text: "Enter Select the Customer!",
                    closeModal: false
                }).then(function () {
                    swal.close();
                    $('#CustomerId').focus();
                });
                return false;
            }
            if ($("#OGPId").find(":selected").val() == 0) {
                swal({
                    icon: 'warning',
                    text: "Enter Select the OGP!",
                    closeModal: false
                }).then(function () {
                    swal.close();
                    $('#OGPId').focus();
                });
                return false;
            }
            $.each($('.add-comma'), function () {
                $(this).val(parseFloat($(this).val().replace(/,/g, "")));
            });
            $("#SaveBtn").attr("disabled", true);
            $("#SaveBtn").text("Saving...");
            return true;
        }
    </script>
}